alias e=$EDITOR
alias j=jobs
alias h=history
function m { perl -MCPAN -e "print CPAN::Shell->format_result(q{Module}, q{$*})" }
alias t='Build test --test_files'
alias up='tar -zxvf'

alias s='git status'
alias d='git diff'
alias l='git lg'
alias la='git lg --all'
function git_ticket () { git rev-parse --abbrev-ref HEAD | perl -ne 'print m{(?:^|/)([A-Z]+-\d+)} ? qq{$1 } : q{}' }
function c () { x=$(git_ticket); git commit -m "$x$1" }

alias mac2unix='perl -pi -e "tr/\r/\n/"'
alias dos2unix='perl -pi -e "tr/\r//d"'
alias javastring='mac2unix | perl -pe '"'"'BEGIN{print q/"/}; s/"/\\"/g; s/\n/\\n" +\n"/g; END {print q/"/}'"'"
alias findproc='ps auxww|grep'
alias test1='make test TEST_FILES=\!:1 TEST_VERBOSE=1'
alias look_storable='perl -d -MStorable -e '"'"'$x = retrieve(shift)'"'"
alias fullword='grep ^\!*$ /usr/share/dict/web2'
alias force='perl -le "sleep 1 while system @ARGV"'
alias pbedit='pbpaste > /tmp/pb; e /tmp/pb; pbcopy < /tmp/pb'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias cdt='cd ~/bin/test'
alias cdm='cd ~/src/modules'
alias cdd='cd ~/Downloads'
alias cds='cd ~/src'
alias cdg='cd ~/Documents/SIA'

alias ls='ls -F'
function lsl { ls -al $* | less -EX }
alias top='top -u'

alias cpan='perl -MCPAN -e shell'
alias pert='perl -a -F/\\t/'
alias R='R_HISTSIZE=10000 R --no-save --no-restore-data --quiet'

hcat  () { hdfs dfs -cat $1 }
hzcat () { hdfs dfs -cat $1 | bzcat }

if [[ "$(expr substr $(uname -s) 1 6)" == "CYGWIN" ]]; then
    alias open=cygstart
    alias pbcopy=putclip
    alias pbpaste=getclip
elif [[ "$(uname)" == "Darwin" ]]; then
    # Already have it
else
    alias pbcopy='xsel --clipboard --input'
    alias pbpaste='xsel --clipboard --output'
fi
